/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}


<html>
 <head>
 <style>
  ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow:hidden;
   background-color: #ffe6ff;
   }
  
  ul li {
  float: left;
  }
  
  ul li a {
  display: block;
  color: black;
  text align: centre;
  padding: 14px 16px;
  text-decoration: none;
  } 

  ul li a:hover {
  background-color:#6699ff
  </style>
 </head>


<body style="background-color:powderblue;">
