p {
  font-size: 80px;
  color: #660033;
  font-family: Times New Roman, Times, serif;
}


ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow:hidden;
   background-color: #ffe6ff;
   }
  
  ul li {
  float: left;
  }
  
  ul li a {
  display: block;
  color: black;
  text align: centre;
  padding: 14px 16px;
  text-decoration: none;
  } 

  ul li a:hover {
  background-color:#6699ff
 } 
  



<!----Week 4 Table---->

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
  }

  th, td {
    border: 3px solid #D4DFF4;
    padding: 8px 12px;
    text-align: center;
    font-family: tahoma;
    font-weight: 500;
    color: #bf4080;
  }

  th {
    background-color: #ffe6ff;
    text-align: left;
    font-weight: bold;
    color: #bf4080;
  }

  th[rowspan], th:first-child {
    background-color: #ffe6ff;
    text-align: left;
    font-weight: bold;
  }


p {
 font-family: Arial, Georgia, Times New Roman;
} 


  h1 {
  color: Maroon;
  text align: centre;
  font-size: 50;
  padding: 14px 16px;
  text-decoration: none;
  } 

h2 {
  color: #732626;
  text align: centre;
  font-size: 20;
  padding: 14px 16px;
  text-decoration: none;
  } 

h3 {
  color: #993333;
  text align: centre;
  font-size: 20;
  padding: 14px 16px;
  text-decoration: none;
  } 

h4 {
  color: #993333;
  text align: centre;
  font-size: 20;
  padding: 14px 16px;
  text-decoration: none;
  } 

h5 {
  color: #990000;
  text align: centre;
  font-size: 20;
  padding: 14px 16px;
  text-decoration: none;
  } 
